.cent {
    height: calc(100vh - 300px) !important;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
}

#app, html{
    height: 100% !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main{
    flex: 1 !important;
}

* {
    box-sizing: border-box;
}



#red {
    border-radius: 15px;
    border: 1px solid rgba(255, 0, 0, 0.459);
    background-color: rgba(255, 0, 0, 0.459);

}

#blue {
    border-radius: 15px;
    border: 1px solid rgba(67, 67, 228, 0.685);
    background-color: rgba(0, 0, 255, 0.233);
}

.neg {
    background-color: rgba(185, 185, 185, 0.486);
    border: 1px solid rgba(121, 121, 121, 0.486);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: sans-serif;
    padding: 10px;
    font-size: 25px;
    -webkit-text-stroke: .4px black;
}


/* Header  */

header {
    padding: 30px 15px;
    background-color: rgba(161, 161, 161, 0.568);
    height: 150px;
    display: flex;
    align-items: center;
}

header ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

header ul li a {
    text-decoration: none;
    color: white;
    -webkit-text-stroke: .5px black;
    font-size: 45px;
    font-family: sans-serif;
}

/* Footer */

footer {
    background-color: lightblue;
    padding: 20px 0;
}

/* CountPage */

.abc > .row > .col-4{
    padding: 20px;
    border: 1px solid black;
    text-align: center;
}